<div class="ssFormPart">
    By clicking the button below, I agree to the <a href="javascript:;" data-page-type-id="18">Terms of Service</a>, <a href="javascript:;" data-page-type-id="3">Privacy Policy</a>, and <a href="javascript:;" data-page-type-id="5">Rules</a>
</div>