<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Promotion</title>
    <link rel="stylesheet" href="https://sanchezmedia.secondstreetapp.com/StaticContent/CSS/consumer.css">
    <link rel="stylesheet" href="/styles/overrides.css">
</head>
<body>
<div id="ssFrontApp" class="ssApplicationContainer ssApplicationContainerDefault">
    <div class="ssAffContentArea ssAffContentAreaMiddle">
        <div class="ssAppContentArea">
            <noscript>
                JavaScript must be enabled to enter this promotion.
                <a href="http://enable-javascript.com/" target="_blank">Click here to learn how to enable JavaScript.</a>
            </noscript>
            {{{body}}}
        </div>
    </div>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/scripts/app.js"></script>
</body>
</html>