<h1>{{organization.name}}</h1>
{{#if organization_promotions}}
    <ul>
        {{#each organization_promotions}}
            <li>
                <a href="/sweeps/{{unique_id}}/enter">{{name}}</a>
            </li>
        {{/each}}
        
    </ul>
{{/if}}