<div class="ssFormPart ssHasEmailBox ssRequired">
    <label class="ssField ssRegistrationFormField">
        <span class="ssLabelText ssRegistrationFormFieldLabelText">
            Email
            <span class="ssRequiredStar">*</span>
        </span>
        <input class="ssRegistrationField ssEmailTextboxField" autofocus="autofocus" type="email">
    </label>
</div>